[Desktop Entry]
Name=wmblob
Comment=Moving blobs
Comment[pl]=Ruchome kleksy
Exec=wmblob
Terminal=false
Type=Application
Categories=GTK;Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
